@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@300&display=swap');

*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    overflow-x: none;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    overflow-x: hidden;
    font-family: 'Lexend Deca', sans-serif;
}

html {
    scroll-behavior:smooth;
}

a:hover, i:hover{
    cursor: pointer;
}


/* SCROLL BAR */

html::-webkit-scrollbar {
    width: 0.8vw;
}

html::-webkit-scrollbar-thumb {
    background-color:gray;
    border-radius: 10px;
}

html::-webkit-scrollbar-track {
    background-color: #17171e;
}

html::-webkit-scrollbar-thumb:hover{
    background-color: #fff301;
}

.carosello-container::-webkit-scrollbar {
    height: 1.5vh;
}

.carosello-container::-webkit-scrollbar-thumb {
    background-color:gray;
    border-radius: 10px;
}

.carosello-container::-webkit-scrollbar-track {
    background-color: #17171e;
}


/* REVEAL ON SCROLL EFFECT */

.reveal{
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: all 1s ease;
}

.reveal.active{
    transform: translateY(0px);
    opacity: 1;
}

/* PRELOADER */

.preloader-wrapper {
    height: 100vh;
    width: 100vw;
    background-color: #17171e;
    position: fixed;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y: hidden;
}

.preloader-wrapper > div {
    height: 100px;
    width: 100px;
    border: 10px solid #fff301;
    border-radius: 50%;
    border-right-color: transparent;
	border-bottom-color: transparent;
    -webkit-transition: all 0.5s ease-in;
    -webkit-animation-name:             loader-animation; 
    -webkit-animation-duration:         1.0s; 
    -webkit-animation-iteration-count:  infinite;
    -webkit-animation-timing-function: linear;
    	
    	 transition: all 0.5s ease-in;
    animation-name:             loader-animation; 
    animation-duration:         1.0s; 
    animation-iteration-count:  infinite;
    animation-timing-function: linear; 
}

@keyframes loader-animation {
    from {
        transform: rotate(0deg);
    }
    to { 
        transform: rotate(360deg);
    }
}

/* LATERAL BAR */

.lateral-bar{
    width: 10vw;
    height: 100vh;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #17171e;
    z-index: 10;
}

.lateral-bar .section-links {
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.section-links a {
    height: 20px;
    width: 20px;
    border: 3px solid #fff301;
    border-radius: 20px;
    position: relative;
}

.section-links a:hover{
    transform: scale(1.1);
    transition-duration: 200ms;
}

.section-links .home::after{
    content: "home";
    position: absolute;
    left: 40px;
    top: 0;
    color: white;
    border-radius: 10px;
    display: none;
    transition: all 500ms;
}

.section-links .skills::after{
    content: "skills";
    position: absolute;
    left: 40px;
    top: 0;
    color: white;
    border-radius: 10px;
    display: none;
    transition: all 500ms;
}

.section-links .projects::after{
    content: "projects";
    position: absolute;
    left: 40px;
    top: 0;
    color: white;
    border-radius: 10px;
    display: none;
    transition: all 500ms;
}

.section-links .contacts::after{
    content: "contacts";
    position: absolute;
    left: 40px;
    top: 0;
    color: white;
    border-radius: 10px;
    display: none;
    transition: all 500ms;
}
.section-links a:hover::after{
    display: block
}

a.active{
    background-color: #fff301;
}


/* CONTAINER */ 

.container{
    background-color: #17171e;
    width: 90vw;
    margin-left: 10vw;
}

.container section {
    min-height: 100vh;
    width: 100%;
    background-color: #17171e;
}

/* SOCIAL CONTAINER */ 

.social-container{
    position: fixed;
    right: 0;
    bottom: 10px;
    height: 200px;
    width: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.social-container .fa-brands {
    color: gray;
    font-size: 2em;
}

.social-container .fa-brands:hover{
    color: white;
    transform: scale(1.1);
    transition-duration: 200ms;
}

/* SWITCH COLOR MODE BUTTON */

.switchModeBtn {
    position: fixed;
    top: 20px;
    right:0;
    height: 50px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.switchModeBtn i {
    font-size: 2em;
    color: gray; 
}

.switchModeBtn i:hover{
    color: white;
    transform: scale(1.1);
    transition-duration: 200ms;
}

/* HOME SECTION */

.container .home-section {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.presentation h1:nth-child(1){
    color: #fff301;
    font-size: 4em;
}

.home-section span {
    color: white;
    font-size: 2em;
}

.presentation {
    position: absolute;
    left: 10vw;
    top: 28vh;
}

.presentation > p {
    color: gray;
    margin: 20px 30px;;
    letter-spacing: 2px;
    font-size: 20px;
    position: relative;
    z-index: 100;
}

.tag-span {
    color: white;
    font-size: 2em;
}

.presentation h1:nth-child(3){
    margin-top: 60px;
}

.home-text-open {
    font-size: 12em;
    letter-spacing: 50px;
    color: #2A2E34;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}

.home-text-close {
    position: absolute;
    right: 100px;
    bottom: 0;
    font-size: 12em;
    letter-spacing: 50px;
    color: #2A2E34;
    z-index: 2;
}

.polygon {
    clip-path: polygon(0% 100%, 100% 100%, 100% 0%, 39% 0%);
    background-color: #fff301;
    height: 100vh;
    width: 50vw;
    position: absolute;
    right: 0;
}



/* SKILLS SECTION */

.skills-section{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    height: 100vh;
}

.skills-section h1{
    color: white;
    letter-spacing: 5px;
    margin-left: 50px
}

.skills-section h1:before{
    content: "";
    display: block;
    background-color: #fff301;
    height: 10px;
    width: 50%;
    border-radius: 10px;
    margin-bottom: 5px;
}

.skills-section h2{
    color: gray;
    letter-spacing: 5px;
    margin-left: 50px;
    font-size: 20px;
}


.skills-section .skill-list{
    width: 90%;
    height: 70%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 10px;
    align-items: center;
    justify-items: center;

}

.skill-list i {
    font-size: 8em;
    color: gray;
    position: relative;
    transition: color 500ms ease-in; 
    /* Transition: transition-property - transition-duration - transition-timing-function - transition-delay */
}

.skill-list .fa-html5:after{
    content: "HTML5";
    color: white;
    position: absolute;
    left: 17px;
    bottom: -35px;
    font-size: 20px;
    display: none;
    font-family: 'Lexend Deca', sans-serif;
}

.skill-list .fa-css3-alt:after{
    content: "CSS3";
    color: white;
    position: absolute;
    left: 25px;
    bottom: -35px;
    font-size: 20px;
    display: none;
    font-family: 'Lexend Deca', sans-serif;
}

.skill-list .fa-square-js:after{
    content: "JavaScript";
    color: white;
    position: absolute;
    left: 5px;
    bottom: -35px;
    font-size: 20px;
    display: none;
    font-family: 'Lexend Deca', sans-serif;
}

.skill-list .fa-node-js:after{
    content: "NodeJS";
    color: white;
    position: absolute;
    left: 20px;
    bottom: -35px;
    font-size: 20px;
    display: none;
    font-family: 'Lexend Deca', sans-serif;
}

.skill-list .fa-figma:after{
    content: "Figma";
    color: white;
    position: absolute;
    left: 15px;
    bottom: -35px;
    font-size: 20px;
    display: none;
    font-family: 'Lexend Deca', sans-serif;
}

.skill-list .fa-git-alt:after{
    content: "Git";
    color: white;
    position: absolute;
    left: 45px;
    bottom: -35px;
    font-size: 20px;
    display: none;
    font-family: 'Lexend Deca', sans-serif;
}

.skill-list i:hover{
    color: #fff301;
    transform: scale(1.1);
    display: block;
    
}

.skill-list i:hover:after{
    display: block;
}

/* PROJECTS SECTION */

.projects-section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    min-height: 100vh;
}


.projects-section h1 {
    margin: 50px 50px;
    color: white;
    letter-spacing: 5px;
}


.projects-section h1:before{
    content: "";
    display: block;
    background-color: #fff301;
    height: 10px;
    width: 50%;
    border-radius: 10px;
    margin-bottom: 5px;
}

.projects-section h2 {
    color: gray;
    letter-spacing: 5px;
    margin-left: 50px;
    font-size: 20px;
}

.carosello-container {
    width: 80vw;
    height: 500px;
    margin-left: 50px;
    margin-top: 70px;
    display: grid;
    grid-auto-flow: column;

    overflow-x: auto;
    overflow-y: hidden;
    overscroll-behavior-inline: contain;
}

.media-element {
    height: 500px;
    width: 500px;
    padding: 30px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border-radius: 5%;
}

.media-element img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 5%;
}

.media-element p {
    font-size: 2em;
    color: black;
    position: absolute;
    display: none;
}

.media-element:nth-child(4) p {
    color: white;
}

.media-element img:hover{
    filter: blur(8px);
    transition-duration: 350ms;
}


/* CONTACTS SECTION */

.contacts-section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.contacts-section h1 {
    margin-left: 50px;
    color: white;
    letter-spacing: 5px;
    margin-top: 100px
}


.contacts-section h1:before{
    content: "";
    display: block;
    background-color: #fff301;
    height: 10px;
    width: 50%;
    border-radius: 10px;
    margin-bottom: 5px;
}

.contacts-section form {
    margin-left: 50px;
    margin-top: 50px;
    display: grid;
    grid-template-rows: repeat(7, 1fr);
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
}

.contacts-section input:nth-child(1), .contacts-section input:nth-child(2) {
    height: 60px;
    width: 350px;
}

.contacts-section input:nth-child(3) {
    grid-column-start: 1;
    grid-column-end: 3;
}

.contacts-section textarea {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 8;
    font-family: 'Lexend Deca', sans-serif;
    padding: 15px 15px;
    color: white;
    resize: none;
}

.contacts-section input, .contacts-section textarea{
    background: #2A2E34;
    border: none;
    border-radius: 20px;
    padding-left: 15px;
    outline: none;
    color: white;
}

.contacts-section input::placeholder, .contacts-section textarea::placeholder  {
    color: white;
    opacity: 1;
    text-align: start;
}
